# Add any directories, files, or patterns you don't want to be tracked by version control
GNU ARM v4.9.3 - Release/*

build/objects/
build/audiomoth.*
!build/audiomoth.bin
!build/audiomoth.ld

*.cbp
*.layout
*.depends


doc/
doc*/
